<div class="post-wide">
	<h2>Editing Asana Type by Starting Position</h2>
<% form_for @asana_subtype do |f|  %> <!--trying form tag, restless routes and a 
										partial caused me big headaches here-->

       <p>
  <%= f.label  :name %>: 
  <%= f.text_field :name, :size=>30 %>             
</p>
<p>
  <%= f.label :description  %>: <br/>
  <%= f.text_area  :description %>                       
</p>                                                               <!-- bad form tag!  go to your room -->
<%# form_tag :action => 'create', :id => @asana_subtype.id do %>                       
	   <%#= render :partial => 'form' %>
	<%= submit_tag 'update' %>
<% end %>
<%= link_to 'Show', @asana_subtype %> |
<%= link_to 'List', asana_subtypes_path %>
 </div>