<div class="post-wide">    
	<h2>Asana Types by Starting Position</h2>



<% for asana_subtype in @asana_subtypes %>
  <h4><%=h asana_subtype.name %></h4>
    <p><%=h asana_subtype.description %><br/>
	
              <small>
    <%= link_to 'Show', asana_subtype %> 
	<% if is_admin? %><%= link_to 'Edit', edit_asana_subtype_path(asana_subtype) %> <%= link_to 'Destroy', asana_subtype, :confirm => 'Are you sure?', :method => :delete %><% end %></small></p> 

<% end %>

<% if is_admin? %><br />

<%= link_to 'New asana_subtype', new_asana_subtype_path %>      <% end %>
</div>