<div class="post-wide">    
<h2>Asana Types by Spinal Direction</h2>

<table>
  <tr style="text-align:left">
    <th width="15%">Name</th>
    <th width="60%">Description</th>
   
	
  </tr>

<% for asana_type in @asana_types %>
  <tr style="vertical-align:top">
    <td><%=h asana_type.name %></td>
    <td><%=h asana_type.description %></td>
   
    <td style="vertical-align:top"><%= link_to 'Show', asana_type %> 
	<% if is_admin? %><%= link_to 'Edit', edit_asana_type_path(asana_type) %> <%= link_to 'Destroy', asana_type, :confirm => 'Are you sure?', :method => :delete %><% end %></td>
  </tr>
<% end %>
</table>

<% if is_admin? %><br />

<%= link_to 'New asana_type', new_asana_type_path %>      <% end %>
  </div>