<div class="post-wide">    
<h2>Asana Types by Spinal Direction</h2>



<% for asana_type in @asana_types %>
  <h4><%=h asana_type.name %></h4>
    <p><%=h asana_type.description %><br/>
     <small>
   <%= link_to 'Show', asana_type %> 
	<% if is_admin? %><%= link_to 'Edit', edit_asana_type_path(asana_type) %> <%= link_to 'Destroy', asana_type, :confirm => 'Are you sure?', :method => :delete %><% end %></small>    
  </p>
<% end %>


<% if is_admin? %><br />

<%= link_to 'New asana_type', new_asana_type_path %>      <% end %>
  </div>