<div class="post-wide">    
	<p>
  <b>Name:</b>
  <%=h @asana_type.name %>
</p>



<p>
  <b>Description:</b>
  <%=h @asana_type.description %>
</p>
  
 <ul> <% for asana in @asana_type.asanas %>
  <li style="list-type:none"><%=link_to asana.english, asana_path(asana)  %></li>   
        <% end %>
 </ul>      


<%= link_to 'Edit', edit_asana_type_path(@asana_type) %> |
<%= link_to 'List', asana_types_path %>
  </div>