


<% for user_observation in asana.user_observations %>
 <p><%=h user_observation.title %>:  <%=h user_observation.comment %></p>  
<p class="small">posted by <%=link_to user_observation.user.name, user_path(user_observation.user) %> <%= time_ago_in_words(user_observation.created_at) %> ago</p>
<p class="small"> 
	<%= link_to "show with asana", :action=>:show, :id => user_observation.id %> 
     <% if current_user == user_observation.user %>
 |  <%= link_to "edit", :action=>:edit, :id => user_observation.id %> 
	<% end %>
 </p>  
  <% end %>


